<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact Us - Contact Us | BizSolutions - Free Website Template from Templates.com</title>
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/script.js"></script>
<!--[if lt IE 7]>
	<link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen">
	<script type="text/javascript" src="js/ie_png.js"></script>
	<script type="text/javascript">
		ie_png.fix('.png');
	</script>
<![endif]-->
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page5">
<div class="tail-bottom">
	<div id="main">
<!-- header -->
		<header>
			<div class="nav-box">
				<nav>
					<ul class="fright">
						<li><a href="index.html"><img src="images/pic-home.gif"></a></li>
						<li><a href="contact-us.html"><img src="images/pic-mail-act.gif"></a></li>
						<li><a href="sitemap.html"><img src="images/pic-sitemap.gif"></a></li>
					</ul>
					<ul>
						<li class="current"><a href="index">Inicio</a></li>
						<li><a href="Nosotros">Nosotros</a></li>
						<li><a href="Contratanos">Cont&aacute;ctanos</a></li>
						<li><a href="Login">Login</a></li>
						<li><a href="usuario">Usuarios</a></li>
					</ul>
				</nav>
			</div>
			<h1><a href="index.html">BizSolutions</a></h1>
			<form action="" id="search-form">
				<fieldset>
				<input type="text">
				<a href="#" onclick="document.getElementById('search-form').submit()"><img src="images/button-search.gif"></a>
				</fieldset>
			</form>
		</header>
		<div class="wrapper indent">
<!-- content -->
			<section id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
				<div id="slogan"><img src="images/slogan.gif"></div>
				<div class="inside">
					<h2><span>Contáctanos</span></h2>
					<div class="wrapper">
						<address>
						<b>Zip Code:</b>50122<br>
						<b>País:</b>Venezuela<br>
						<b>Telephone:</b>+354 5635600<br>
						<b>Fax:</b>+354 5635610
						</address>
						<p class="extra-wrap"><b>Miscellaneous info:</b><br>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
					</div>
					<h2 align="center"><span>Realiza tu solicitud</span></h2>
				</div>
				<div class="box">
					<div class="border-right">
						<div class="border-bot">
							<div class="border-left">
								<div class="left-top-corner">
									<div class="right-top-corner">
										<div class="inner">
											<h2><span>Formulario</span> de solicitud de mudanza</h2>
											<form id="formularioMudanza" action="/usuario/create" method="POST">
												<fieldset>
												<div class="field">
													<label>Username:</label>
													<input type="text" value="" name="Username"/>
												</div>
												<div class="field">
													<label>Contraseña:</label>
													<input type="password" value="" name="Contrasena"/>
												</div>
												<div class="field">
													<label>Nombre:</label>
													<input type="text" value="" name="Nombre"/>
												</div>
												<div class="field">
													<label>Apellido:</label>
													<input type="text" value="" name="Apellido"/>
												</div>
												<div class="field">
													<label>Cédula:</label>
													<input type="number" value="" name="Cedula"/> <!--OJITO CON LA SINTAXIS POR AQUÍ (Sintaxis del type="number")-->
												</div>
												<div class="field">
													<label>Teléfono:</label>
													<input type="number" value="" name="Telefono"/>
												</div>
												<div class="field">
													<label>Correo:</label>
													<input type="email" value="" name="Correo"/>
												</div>
												<div class="field">
													<label>Dirección:</label>
													<input type="text" value="" name="Direccion"/>
												</div>
												<input type="submit" value="Crear Usuario" />
												<!--<div class="field">
													<label>Your Message:</label>
													<textarea cols="1" rows="1"></textarea>
												</div>-->
												<!--<div class="wrapper">
													<label>&nbsp;</label>
													<a href="#" class="link1"><span><span>Realiza el pedido</span></span></a></div>-->
												</fieldset>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
<!-- aside -->
			<aside>
				<div class="inside">
					<ul class="insurance">
						<li><strong>Mudanza garantizada</strong>Solicita tu mudanza o traslado con nosotros.</li>
						<li><strong>Clasifica tus bienes</strong>Especifica el mobiliario a ser trasladado para realizar las labores de cuidado.</li>
					</ul>
					<h2><span>Nuestros</span> servicios</h2>
					<ul class="services">
						<li><a href="#">Mudanzas y traslados</a></li>
						<li><a href="#">Cuidado y traslado de mobiliario delicado</a></li>
						<li><a href="#">Desmontaje de mobiliario</a></li>
						<li><a href="#">Montaje de mobiliario</a></li>
						<li><a href="#">Personal altamente calificado</a></li>
						<li><a href="#">Prioridad en mudanzas</a></li>
						<li><a href="#">Fechas disponibles</a></li>
						<li><a href="#">Geolocalización para largos traslados</a></li>
					</ul>
					<div class="wrapper"><a href="#" class="link1"><span><span>More Services</span></span></a></div>
				</div>
			</aside>
		</div>
<!-- footer -->
		<footer>
			<div class="inside">
				<a rel="nofollow" class="new_window">Mu&eacute;velo.</a> Desarrollado por Alustiza, Ricardo. Brito Ram&oacute;n. Carrione, Willmer y Maldonado, Carlos<br/><class="new_window"><i>Cualquier intento de plagio es penalizado por la ley</i>
			</div>
		</footer>
	</div>
</div>
</body>
</html>