<!DOCTYPE html>
<html lang="en">
<head>
<title>Home - Home Page | BizSolutions - Free Website Template from Templates.com</title>
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<meta charset="utf-8">
<link rel="stylesheet" href="styles/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="styles/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="styles/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/maxheight.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/script.js"></script>
<!--[if lt IE 7]>
	<link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen">
	<script type="text/javascript" src="js/ie_png.js"></script>
	<script type="text/javascript">
		ie_png.fix('.png');
	</script>
<![endif]
[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1" onLoad="new ElementMaxHeight();">
<div class="tail-bottom">
	<div id="main">
<!-- header -->
		<header>
			<div class="nav-box">
				<nav>
					<ul class="fright">
						<li><a href="index"><img src="styles/images/pic-home-act.gif"></a></li>
						<li><a href="contact-us"><img src="styles/images/pic-mail.gif"></a></li>
						<li><a href="sitemap"><img src="styles/images/pic-sitemap.gif"></a></li>
					</ul>
					<ul>
						<li class="current"><a href="index">Inicio</a></li>
						<li><a href="Nosotros">Nosotros</a></li>
						<li><a href="Contratanos">Cont&aacute;ctanos</a></li>
						<li><a href="Login">Login</a></li>
						<li><a href="usuario">Usuarios</a></li>
					</ul>
				</nav>
			</div>
			<h1><a href="index">LaSoluci&oacute;n</a></h1>
			<form action="" id="search-form">
				<fieldset>
				<input type="text">
				<a href="#" onclick="document.getElementById('search-form').submit()"><img src="styles/images/button-search.gif"></a>
				</fieldset>
			</form>
		</header>
		<div class="wrapper indent">
<!-- content -->
			<section id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
				<div id="slogan"><img src="styles/images/slogan.gif"></div>
				<div class="inside">
					<h2><span>Bienvenidos</span> a Mu&eacute;velo!</h2>
					<p><b>Mu&eacute;velo</b> es un equipo dedicado a facilitar el proceso y los tr&aacute;mites de mudanza incluyendo contrataciones laborales. </p>
				</div>
				<div class="wrapper">
					<article class="col-1 maxheight">
						<div class="box maxheight">
							<div class="border-right maxheight">
								<div class="border-bot maxheight">
									<div class="border-left maxheight">
										<div class="left-top-corner maxheight">
											<div class="right-top-corner maxheight">
												<div class="inner">
													<h2><span>&Uacute;ltimas</span> Noticias</h2>
													<ul class="news">
														<li><strong>10.24.2016</strong><a href="#">Se necesita chofer.</a> Se va realizar un viaje a Barcelona, estado Anzo&aacute;tegui, partiendo de la Ciudad de Caracas.</li>
														<li><strong>10.26.2016</strong><a href="#">Se necesita personal que haya trabajado con nosotros,</a> ya que se realizar&aacute; una  mudanzas por 4 estados del pa&iacute;s. Para mayor informaci&oacute;n post&uacute;late por medio de tu usuario. </li>
														
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="col-2 maxheight">
						<div class="box maxheight">
							<div class="border-right maxheight">
								<div class="border-bot maxheight">
									<div class="border-left maxheight">
										<div class="left-top-corner maxheight">
											<div class="right-top-corner maxheight">
												<div class="inner">
													<h2><span>Pr&oacute;xima</span>mente</h2>
													<ul class="recent">
														<li><strong>01.01.2017</strong><a href="#">Realizaremos</a> mudanzas y envíos de paquetes fuera del país. Para mayor información contactarnos por correo electrónico.</li>
														
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</section>
<!-- aside -->
			<aside>
				<div class="inside">
					<ul class="insurance">
						<li><strong>¿Necesita trabajo?</strong>Regístrate y postúlate.</li>
						
						
					</ul>
					<h2><span>Nuestros</span> servicios</h2>
					<ul class="services">
						<li><a href="#"></a>Prestamos servicios de mudanza.</li>
						<li><a href="#">Prestamos servicios de traslados.</li>
						<li><a href="#">Ofrecemos Empleos.</a></li>
						<li><a href="#">Geolocalización.</a></li>
						
					</ul>
					
				</div>
			</aside>
		</div>
<!-- footer -->
		<footer>
			<div class="inside">
				<a rel="nofollow" class="new_window">Mu&eacute;velo.</a> Desarrollado por Alustiza, Ricardo. Brito, Ram&oacute;n. Carrione, Willmer y Maldonado, Carlos<br/><class="new_window"><i>Cualquier intento de plagio es penalizado por la ley</i>
			</div>
		</footer>
	</div>
</div>
</body>
</html>