<!DOCTYPE html>
<html lang="en">
<head>
<title>Muévelo: Login</title>
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body id="page3">
<div class="tail-bottom">
	<div id="main">
<!-- header -->
		<header>
			<div class="nav-box">
				<nav>
					<ul class="fright">
						<li><a href="index"><img src="styles/images/pic-home.gif"></a></li>
						<li><a href="contact-us"><img src="styles/images/pic-mail.gif"></a></li>
						<li><a href="sitemap"><img src="styles/images/pic-sitemap.gif"></a></li>
					</ul>
					<ul>
						<li class="current"><a href="index">Inicio</a></li>
						<li><a href="Mudanzas">Mudanzas</a></li>
						<li><a href="Contratanos">Cont&aacute;ctanos</a></li>
						<li><a href="Login">Login</a></li>
						<li><a href="Registrate">Regístrate</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<h2 id="tituloSolicitudMudanza">¡Entra a <span>Muévelo</span>!</h2><br>
		<div class="wrapper indent">
<!-- content -->
	<section id="content">
	<div class="inside">
	<form action="">
  		<div class="container">
    		<input type="text" placeholder="Introduzca username" name="uname" required id="inputUsername">
    		<input type="password" placeholder="Introduzca contraseña" name="psw" required id="inputUsername"><br><br>
    		<input type="checkbox" checked="checked" id="sesionAbierta">Mantener sesión abierta<br><br>
    		<button type="submit" id="botonLogin">Entra</button>
  		</div><hr>
  		<div class="container">
    		<span class="psw">¿Se te olvidó la <a href="index">contraseña?</a></span>
  		</div>
	</form>
		<!--<form class="form-signin">
        	<h2 class="form-signin-heading">Please sign in</h2>
        	<input type="text" class="input-block-level" placeholder="Email address">
        	<input type="password" class="input-block-level" placeholder="Password">
        	<label class="checkbox">
          	<input type="checkbox" value="remember-me"> Remember me
        	</label>
        	<button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>-->
	</div>
	</section>
<!-- aside -->
			<aside>
				<div class="inside">
					<ul class="insurance">
						<li><strong>¿Necesita trabajo?</strong>Regístrate y postúlate.</li>
					</ul>
					<h2><span>Nuestros</span> servicios</h2>
					<ul class="services">
						<li><a href="#"></a>Prestamos servicios de mudanza.</li>
						<li><a href="#">Prestamos servicios de traslados.</li>
						<li><a href="#">Ofrecemos Empleos.</a></li>
						<li><a href="#">Geolocalización.</a></li>
					</ul>
				</div>
			</aside>
		</div>
<!-- footer -->
		<footer>
			<div class="inside">
				<a rel="nofollow" class="new_window">Muévelo.</a> Desarrollado por Alustiza, Ricardo. Brito, Ramón. Carrione, Willmer y Maldonado, Carlos<br/><class="new_window"><i>Cualquier intento de plagio es penalizado por la ley</i>
			</div>
		</footer>
	</div>
</div>
</body>
</html>