<!DOCTYPE html>
<html lang="en">
<head>
<title>Articles - Articles | BizSolutions - Free Website Template from Templates.com</title>
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/script.js"></script>
<!--[if lt IE 7]>
	<link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen">
	<script type="text/javascript" src="js/ie_png.js"></script>
	<script type="text/javascript">
		ie_png.fix('.png');
	</script>
<![endif]-->
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page3">
<div class="tail-bottom">
	<div id="main">
<!-- header -->
		<header>
			<div class="nav-box">
				<nav>
					<ul class="fright">
						<li><a href="index"><img src="styles/images/pic-home.gif"></a></li>
						<li><a href="contact-us"><img src="styles/images/pic-mail.gif"></a></li>
						<li><a href="sitemap"><img src="styles/images/pic-sitemap.gif"></a></li>
					</ul>
					<ul>
						<li class="current"><a href="index">Inicio</a></li>
						<li><a href="Nosotros">Nosotros</a></li>
						<li><a href="Contratanos">Contactanos</a></li>
						<li><a href="Login">Login</a></li>
					</ul>
				</nav>
			</div>
			
		</header>
		<div class="wrapper indent">
<!-- content -->
			<section id="content">
				
				<div class="inside">
					


					
<form name="login"> 
     <table width="200" border="0"> 
       <tr> 
         <th scope="row"><h2>Usuario</h2></th> 
         <td><span class="cnt"> 
           <input name="usuario" type="text" class="Input" value="" size="20" /> 
         </span></td> 
       </tr> 
       <tr> 
         <th height="33" scope="row"><h2>Clave</h2></th> 
         <td><span class="cnt"> 
           <input name="password" type="password" class="Input" value="" size="20" /> 
         </span></td> 
         <td><span class="cnt"> 
           <input value="Entrar" target="_parent" onclick="Login()" type="button" class="boton"/> 
         </span></td> 
       </tr> 
       
     </table> 
</form> 

<script language="JavaScript"> 
function Login(){ 
var done=0; 
var usuario=document.login.usuario.value; 
var password=document.login.password.value; 
if (usuario=="USUARIO1" && password=="CONTRASEÑA1") { 
window.location="TU_PAGINA_WEB.HTML"; 
} 
if (usuario=="USUARIO2" && password=="CONTRASEÑA2") { 
window.location="TU_PAGINA_WEB.HTML"; 
} 
if (usuario=="" && password=="") { 
window.location="errorpopup.html"; 
} 
} 
        </script> 
</center> 
<script language="Javascript"> 
<!-- Begin 
document.oncontextmenu = function(){return false} 
// End --> 
</script>


				</div>
			</section>
<!-- aside -->
			<aside>
				<div class="inside">
					
					
					
				</div>
			</aside>
		</div>
<!-- footer -->
		<footer>
			<div class="inside">
				<a rel="nofollow" href="http://www.templatemonster.com" class="new_window">Website template</a> designed by TemplateMonster.com<br/><a href="http://www.templates.com/product/3d-models/" class="new_window">3D Models</a> provided by Templates.com
			</div>
		</footer>
	</div>
</div>
</body>
</html>