<!DOCTYPE html>
<html lang="en">
<head>
<title>About Us - About Us | BizSolutions - Free Website Template from Templates.com</title>
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body id="page2">
<div class="tail-bottom">
	<div id="main">
<!-- header -->
		<header>
			<div class="nav-box">
				<nav>
					<ul class="fright">
						<li><a href="index"><img src="styles/images/pic-home-act.gif"></a></li>
						<li><a href="contact-us"><img src="styles/images/pic-mail.gif"></a></li>
						<li><a href="sitemap"><img src="styles/images/pic-sitemap.gif"></a></li>
					</ul>
					<ul>
						<li><a href="index">Inicio</a></li>
						<li>
						<a>Mudanzas</a>
						<% if (session.authenticated) { %>		
						<a href="Mudanzas"></a>
						<% } %>
						</li>
						<li><a href="Empleate">Empléate</a></li>
						<!--<li><a href="Login">Login</a></li>-->
						<!--<li><a href="Registrate">Regístrate</a></li>-->
					</ul>
				</nav>
			</div>
		</header>
		<h2 id="tituloSolicitudMudanza">Solicita tu mudanza con <span>Muévelo</span></h2><br>
		<hr>
		<div class="wrapper indent">
<!-- content -->
		<section id="content"><div class="ic"></div>
		<div class="inside">
	<!--COMIENZO DE FORMULARIO DE SOLICITUD DE MUDANZA-->	
	<form class="form-horizontal" method="POST" action="/pedido/create">
	<h4 id="tituloDireccionMudanza" align="center"><strong>Dirección de mudanza</strong></h4><br><br>
	<div class="form-group">
		<label class="col-sm-2 control-label">Estado</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" name="EstadoM" value="">
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Municipio</label>
			<div class="col-xs-4">
				<input type="text" class="form-control" name="MunicipioM" value="">
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Sector / Urbanización</label>
			<div class="col-xs-4">
				<input type="text" class="form-control" name="SectorUrbM" value="">
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Código postal</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" name="CodigoPostalM" value="">
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Detalles de dirección</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="3" name="DetallesDireccionM"></textarea>
			</div>
	</div>
	<hr>
	<h4 id="tituloDireccionMudanza" align="center"><strong>Detalles de mudanza</strong></h4><br><br>
	<div class="form-group">
		<label class="col-sm-2 control-label">Fecha de mudanza</label>
			<div class="col-xs-3">
				<input type="date" class="form-control" name="FechaMudanza" value="" placeholder="dd-mm-aaaa">
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Mobiliario que posee</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" name="Mobiliario" placeholder="Por favor especifique mobiliario que usted considere delicado o que debamos prestar atención."></textarea>
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Dimensiones (m2)</label>
			<div class="col-xs-2">
				<input type="number" class="form-control" name="Metros2" value="">
				<input type="hidden" name="owner" value="<%= req.session.Usuario.IDUsuario %>"
			</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Prioridad</label>
			<div class="col-xs-3">
				<select class="form-control" id="exampleSelect1" name="Prioridad">
      				<option value="Ninguna">Ninguna</option>
      				<option value="Alta">Alta</option>
      				<option value="Media">Media</option>
    			</select>
			</div>
	</div>
	<br><br>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2 botonSolicitudMudanza">
			 <button type="submit" class="btn btn-primary">Solicita la mudanza!</button>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<! Will be used to display an alert to the user>
		</div>
	</div>
</form>
		</div>
		</section>
<!-- aside -->
			<aside>
				<div class="inside">
					<ul class="insurance">
						<li><strong>¿Necesita trabajo?</strong>Regístrate y postúlate.</li>
					</ul>
					<h2><span>Nuestros</span> servicios</h2>
					<ul class="services">
						<li><a href="#"></a>Prestamos servicios de mudanza.</li>
						<li><a href="#">Prestamos servicios de traslados.</li>
						<li><a href="#">Ofrecemos Empleos.</a></li>
						<li><a href="#">Geolocalización.</a></li>
						
					</ul>
					
				</div>
			</aside>
		</div>
<!-- footer -->
		<footer>
			<div class="inside">
				<a rel="nofollow" class="new_window">Muévelo.</a> Desarrollado por Alustiza, Ricardo. Brito, Ramón. Carrione, Willmer y Maldonado, Carlos<br/><class="new_window"><i>Cualquier intento de plagio es penalizado por la ley</i>
			</div>
		</footer>
	</div>
</div>
</body>
</html>
<!--<div class="box">
					<div class="border-right">
						<div class="border-bot">
							<div class="border-left">
								<div class="left-top-corner">
									<div class="right-top-corner">
										<div class="inner">
											<h2><span>About</span> Team</h2>
											<ul class="team">
												<li><img src="images/2page-img2.jpg"><strong>Team Member One</strong>He’s the most important mem- ber of your team who started the website.</li>
												<li><img src="images/2page-img3.jpg"><strong>Another Team Member</strong>We are completly lost on what he's responsible for, but we hope that you know it.</li>
												<li class="last"><img src="images/2page-img4.jpg"><strong>Another Team Member</strong>We are completly lost on what he's responsible for, but we hope that you know it.</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>-->