<!DOCTYPE html>
<html lang="en">
<head>
<title>Mudanzas online</title>
<meta name="description" content="Place your description here">
<meta name="keywords" content="mudanzas online, mudanzas, empleos, empleos online">
<meta name="author" content="Templates.com - website templates provider">
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/script.js"></script>
<!--
Funciono!!!!
[if lt IE 7]>
	<link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen">
	<script type="text/javascript" src="js/ie_png.js"></script>
	<script type="text/javascript">
		ie_png.fix('.png');
	</script>
<![endif]
[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1" onLoad="new ElementMaxHeight();">
<div class="tail-bottom">
	<div id="main">
<!-- header -->
		<header>
			<div class="nav-box">
				<nav>
					<ul class="fright">
						<li><a href="index"><img src="styles/images/pic-home.gif"></a></li>
						<!--<li><a href="contact-us"><img src="styles/images/pic-mail.gif"></a></li>-->
						<li><a href="sitemap"><img src="styles/images/pic-sitemap.gif"></a></li>
					</ul>
					<ul>
						<li><a href="index">Inicio</a></li>
						<li>
						<a>Mudanzas</a>
						<% if (session.authenticated) { %>		
						<a href="Mudanzas"></a>
						<% } %>
						</li>
						<li><a href="Empleate">Empléate</a></li>
						<li><a href="Login">Login</a></li>
						<li><a href="Registrate">Regístrate</a></li>
						<li class="current"><a href="tarea2">Tarea</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="wrapper indent">
<!-- content -->
			<section id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
				<div class="wrapper">
				<H2><a href="tarea/queries/1">Query 1</a></H2>
				<H2><a href="tarea/queries/2">Query 2</a></H2>
				<H2><a href="tarea/queries/3">Query 3</a></H2>
				<H2><a href="tarea/queries/4">Query 4</a></H2>
				<H2><a href="tarea/queries/5">Query 5</a></H2>
				</div>
			</section>
<!-- aside -->
			<aside>
				<div class="inside">
					
					
				</div>
			</aside>
		</div>
<!-- footer -->
		<footer>
			<div class="inside">
				<a rel="nofollow" class="new_window">Muévelo.</a> Desarrollado por Alustiza, Ricardo. Brito, Ramón. Carrione, Willmer y Maldonado, Carlos<br/><class="new_window"><i>Cualquier intento de plagio es penalizado por la ley</i>
			</div>
		</footer>
	</div>
</div>
</body>
</html>