<!DOCTYPE html>
<html lang="es">
<head>
<title>Mudanzas online: Registrado</title>
<meta name="description" content="Place your description here">
<meta name="keywords" content="mudanzas online, mudanzas, empleos, empleos online">
<meta charset="utf-8">
<link rel="stylesheet" href="styles/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="styles/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="styles/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/maxheight.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body id="page1" onLoad="new ElementMaxHeight();">
<div class="tail-bottom">
	<div id="main">
<!-- header -->
		<header>
			<div class="nav-box">
				<nav>
					<ul class="fright">
						<li><a href="index"><img src="styles/images/pic-home-act.gif"></a></li>
						<li><a href="contact-us"><img src="styles/images/pic-mail.gif"></a></li>
						<li><a href="sitemap"><img src="styles/images/pic-sitemap.gif"></a></li>
					</ul>
					<ul>
						<li class="current"><a href="/">Inicio</a></li>
						<li><a href="/Mudanzas">Mudanzas</a></li>
						<li><a href="/Contratanos">Contáctanos</a></li>
						<li><a href="/Login">Login</a></li>
						<li><a href="/Registrate">Regístrate</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="wrapper indent">
<!-- content -->
	<section id="content"><div class="ic"></div>
	<div class="inside">
	<p id="parrafoRegistro">Usuario registrado correctamente</p>
	<hr>
	<p id="parrafoRegistro2"><i>Se ha enviado una solicitud de confirmación a tu correo electrónico: <%=Usuario.Correo%></i></p>
	</div>
	</section>
<!-- aside -->
			<aside>
				<div class="inside">
					<ul class="insurance">
						<li><strong>¿Necesita trabajo?</strong>Regístrate y postúlate.</li>
					</ul>
					<h2><span>Nuestros</span> servicios</h2>
					<ul class="services">
						<li><a href="#"></a>Prestamos servicios de mudanza.</li>
						<li><a href="#">Prestamos servicios de traslados.</li>
						<li><a href="#">Ofrecemos Empleos.</a></li>
						<li><a href="#">Geolocalización.</a></li>
					</ul>
					
				</div>
			</aside>
		</div>
<!-- footer -->
		<footer>
			<div class="inside">
				<a rel="nofollow" class="new_window">Muévelo.</a> Desarrollado por Alustiza, Ricardo. Brito, Ramón. Carrione, Willmer y Maldonado, Carlos<br/><class="new_window"><i>Cualquier intento de plagio es penalizado por la ley</i>
			</div>
		</footer>
	</div>
</div>
</body>
</html>